body{
    background-color: rgb(246,247,255);
}

.navbar{
    background-color: rgb(170,1,68);
    
}

.container{
    display: flex;
    flex: wrap;
    
    
}

#hero{
    font-family: 'old_londonregular';
    color: white;
}